#

1. What are data structures, and why are they important?

ans:-Data structures are organized ways to store and manage data efficiently. They are important because they enable optimal data retrieval, storage, and manipulation for different tasks.
Example: List, tuples, set, string and dictionary .

2.Difference between mutable and immutable data types with examples?

Ans:-Mutable: Can be changed after creation
Example: list → my_list = [1, 2, 3]; my_list[0] = 10



Immutable: Cannot be changed after creation.
Example: tuple → my_tuple = (1, 2, 3) (values can't be altered).

3. Main differences between lists and tuples in Python?

 Ans:-Lists: Mutable, slower, use square brackets ([]).

 Tuples: Immutable, faster, use parentheses (()).

 Example: list = [1, 2, 3], tuple = (1, 2, 3).

4.How dictionaries store data?

Dictionaries store data as key-value pairs in a hash table, allowing fast lookups by hashing the keys.

5.Why use a set instead of a list in Python?

Sets are faster for checking membership and automatically remove duplicates.

Example: set([1, 2, 2, 3]) results in {1, 2, 3}.

What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters, while a list is a mutable sequence of elements.
    
Example: string = "abc", list = ['a', 'b', 'c'].

7.How do tuples ensure data integrity in Python?

Ans:-tuples are immutable, preventing accidental modification, which ensures data stability.

Example: Used for fixed configurations like (latitude, longitude)

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans:-A hash table is a data structure that maps keys to values via hash functions. Dictionaries in Python are implemented using hash tables.

9.Can lists contain different data types in Python?

Ans:-Yes, lists can hold elements of different types.

Example: [1, "hello", 3.14].

10. Why are strings immutable in Python?

To optimize memory usage and performance, as they are widely used. This also allows safe sharing across threads.

11. Advantages of dictionaries over lists for certain tasks?

Ans:-Dictionaries provide fast lookups for key-value pairs, while lists require linear search for equivalent tasks.

12. How do sets handle duplicate values in Python?

Sets automatically remove duplicates when created or updated.

Example: set([1, 2, 2, 3]) results in {1, 2, 3}.

13. Scenario where using a tuple is preferable over a list.

When the data should not be modified, such as coordinates (x, y) or a database record.

14. How does the “in” keyword work differently for lists and dictionaries?

Lists: Checks for value presence.
    
Example: 1 in [1, 2, 3] → True.
    
Dictionaries: Checks for key presence.

Example: 'a' in {'a': 1, 'b': 2} → True.

15. Can you modify the elements of a tuple? Explain why or why not?

Ans:-No, tuples are immutable. Once created, their elements cannot be changed.

16. What is a nested dictionary, and an example use case?

A dictionary containing other dictionaries.

Example: students = {"Alice": {"age": 25, "grade": "A"}} (organizing hierarchical data).

17. Time complexity of accessing elements in a dictionary?

Accessing elements has an average time complexity of O(1) due to hash table implementation

18. Situations where lists are preferred over dictionaries

When the data is ordered or sequential, and no key-value relationships are required.

19. Why are dictionaries considered unordered, and how does that affect retrieval?

Dictionaries don't maintain insertion order (before Python 3.7). Keys must be used for retrieval, not position.

20. Difference between a list and a dictionary in terms of data retrieval.

Lists: Retrieve by index.
    
Example: my_list[0].

Dictionaries: Retrieve by key.

Example: my_dict["key"].

//////////////////////////////////////////////////////CODE////////////////////////////////////////////////////////

1.Write a code to create a string with your name and print it?

In [7]:
Name="Kunal"
print(Name)

Kunal

 2.Write a code to find the length of the string "Hello World"?

In [8]:
s = "Hello World"
length=len(s)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [9]:
word="Python Programming"
three_char=word[:3]
print(three_char)

Pyt

4.Write a code to convert the string "hello" to uppercase?

In [10]:
text="hello"
text.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [11]:
text="I like apple"
text.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it?

In [12]:
num=[1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [15]:
num=[1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [16]:
num=[1, 2, 3, 4, 5,]
num.remove(3)
print(num)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [18]:
num=['a','b','c','d']
num[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].?

In [20]:
lis = [10, 20, 30, 40, 50 ]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [24]:
num=(10,20,30)
print(num)

(10, 20, 30)

12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').?

In [25]:
fruits=("apple","banna","cherry")
fruits[0]

'apple'

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

In [28]:
num=(1, 2, 3, 2, 4, 2)
num.count(2)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [29]:
Animal=('dog','cat','rabbit')
Animal.index('cat')

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [32]:
fruit=('apple','orange','banana')
'banana'in fruit

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [34]:
num={1, 2, 3, 4, 5, 2}
print(num)

{1, 2, 3, 4, 5}

 17.Write a code to add the element 6 to the set {1, 2, 3, 4}?

In [36]:
num={1, 2, 3, 4,}
num.add(6)
print(num)

{1, 2, 3, 4, 6}

18.Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [38]:
num=(10,20,30)
print(num)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [40]:
fruit=('apple','banana','cherry')
fruit[0]

'apple'

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [41]:
num=(1, 2, 3, 2, 4, 2)
num.count(2)

3

21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [42]:
Animal=('dog','cat','rabbit')
Animal.index('cat')

1

22.. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [43]:
fruit=('apple','orange','banana')
'banana'in fruit

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [44]:
num={1, 2, 3, 4, 5, }
print(num)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}?

In [45]:
num={1, 2, 3, 4}
num.add(6)
print(num)

{1, 2, 3, 4, 6}